{% extends './base.html' %}
{% block title %}Crear Bot{% endblock %}
{% block body %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form-bot.css') }}">
{% endblock %}

<div class="row p-0 m-0">
  <div class="col-2 p-0">
    {% include './views/components/navbar.html' %}
  </div>
  <div class="col-10 d-flex justify-content-center align-items-center">
    <div class="container">
      <form class="row g-3" id="botForm" method="POST" onsubmit="return validateForm()">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="container mt-3">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <h1>Crea tu Chat Bot</h1>
        <div class="row" id="keywordContainer">
          <div class="col-4 mb-3 text-end d-grid align-items-center">
            <label for="nombre">Nombre:</label>
          </div>
          <div class="col-6 mb-3">
            <input type="text" id="nombre" class="form-control" name="nombre" required />
          </div>

          <div class="col-4 mb-3 text-end d-grid align-items-center">
            <label for="saludo">Saludo del Bot:</label>
          </div>
          <div class="col-6 mb-3">
            <textarea id="saludo" class="form-control" rows="4" name="saludo" placeholder="Coloca el Nombre de tu empresa y un saludo corto" required></textarea>
          </div>

          <div class="col-12 mb-3">
            <button type="button" class="btn btn-secondary btn-add" id="addKeyword">Agregar</button>
            <button type="button" class="btn btn-danger btn-add ms-2" id="removeKeyword">Eliminar</button>
          </div>

          <div class="container row" id="defaultKeywords">
            
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    var keywordCount = 0;

    $("#addKeyword").click(function () {
      keywordCount++;
      var html = `
        <div class="row keyword-row">
          <div class="col-6 mb-3">
            <input type="text" class="form-control keyword" placeholder="Admite solo una palabra(ejem: Telefono , Ciudad, Pais, etc)" name="clave${keywordCount}" />
          </div>
          <div class="col-6 mb-3">
            <input type="text" class="form-control content" name="contenido${keywordCount}" />
          </div>
        </div>
      `;
      $("#keywordContainer").append(html);
    });

    $("#removeKeyword").click(function () {
      if ($(".keyword-row").length > 0) {
        $(".keyword-row:last").remove();
        keywordCount--; 
      }
    });

    function validateForm() {
      var keywordRows = $(".keyword-row");

      if (keywordRows.length === 0) {
        alert("Por favor, agrega al menos una palabra clave y su contenido.");
        return false; 
      }

      return true; 
    }
  });
</script>
{% endblock %}
