{% extends 'base.html' %}

{% block title %}Detalles del Bot{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info-completo-bot.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0">
            {% include './views/components/navbar.html' %}
        </div>
        <div class="col-md-10">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="card">

                            <div class="card-body">
                                <a href="{{ url_for('listarbots') }}"
                                    class="btn btn-outline-alert" style="width:50px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path
                                            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />

                                    </svg>

                                </a>
                                <h2 class="card-title text-center">{{ data['Nombre'] }}</h2>
                                <p class="card-text"><strong>Saludo Inicial:</strong> {{ data['Saludo'] }}</p>
                                <p class="card-text"><strong>Despliegue:</strong> {{ data['Despliegue'] }}</p>

                                <h4 class="card-subtitle mb-2 text-muted">Informacion Extra</h4>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Palabra(s) Clave(s)</th>
                                            <th scope="col">Contenido</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pclave in data['pclaves'] %}
                                        <tr>
                                            <td>{{ pclave['Clave'] }}</td>
                                            <td>{{ pclave['Contenido'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{{ url_for('listarbots') }}" class="btn btn-secondary">Volver a la lista de
                                    Bots</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}