{% extends 'base.html' %}
{% block title %}Listar Bots{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/listar-bots.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 p-0">
      {% include './views/components/navbar.html' %}
    </div>
    <div class="col-md-10">
      <div class="custom-container">
        <h2>Listar Bots</h2>
        <p>Usuario: {{ user_name }}</p>
        <p>Correo: {{ user_email }}</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="flash-message" class="alert alert-success alert-dismissible fade show" role="alert">
          {% for category, message in messages %}
          {{ message }}
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Saludo</th>
                <th scope="col">Estado</th>
                <th scope="col">Puerto</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for bot in bots %}
              <tr>
                <td>{{ bot[2] }}</td>
                <td>{{ bot[3] }}</td>
                <td>Desplegado</td>
                <td>{{ bot[5] }}</td>
                <td>
                  <a href="{{ url_for('editar_bot', bot_id=bot[0]) }}" class="btn btn-primary btn-sm mr-1">Editar</a>
                  <a href="{{ url_for('ver_bot', bot_id=bot[0]) }}" class="btn btn-info btn-sm mr-1">Ver</a>
                  <form action="{{ url_for('eliminar_bot', bot_id=bot[0]) }}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-danger btn-sm"
                      onclick="return confirm('¿Estás seguro de querer eliminar este bot?')">Borrar</button>
                  </form>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>



      </div>
    </div>
  </div>
</div>

<script>
  // Ocultar el mensaje flash después de 2 segundos
  setTimeout(function () {
    $('#flash-message').fadeOut('slow');
  }, 2000);
</script>

{% endblock %}