{% extends './base.html' %}
{%block title%}Login{% endblock %} 


{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css')}}">
<body>
    <main>
        <article>
            <section>
                <form action="/" method="POST" id="register">
                    <h1>{{data.titulo}}</h1>

                    <input type="text" name="name" placeholder="{{data.Nombre}}"><br/>
                    <input type="text" name="surname" placeholder="{{data.Apellidos}}"><br/>
                    <input type="email" name="email" placeholder="{{data.Correo}}"><br/>
                    <input type="password" name="password" placeholder="{{data.Password}}"><br/>
                    <input type="password" name="password2" placeholder="{{data.PasswordRepeat}}"><br/>
                    <button type="submit">Entrar</button>
                    <button type="reset">Limpiar</button>

                    <p>Ya tienes cuenta ?</p>
                    <p>
                        <a href="{{ url_for('index') }}">Regístrate</a>
                    </p>
                </form>
            </section>
        </article>
    </main>
    
</body>
{% endblock %}